doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
    
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                li.main-header__item
                    a(href="/") Home 
                li.main-header__item
                    a(href="/users") Users
        main
            h1 Assignment 4
            ol
                li Create a npm project and install express
                li Add two routes using pug including layout '/' and '/users'

        block content 
                
            